<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
</head>
<body>
<div>
    <div>
        <div>
            <h1>Register</h1>
            <form action="#" th:object="${user}"  th:action="@{/register}" method="post" >
                    <input type="text" th:field="*{firstName}" placeholder="Firs Name">
                    <input type="text" th:field="*{lastName}" placeholder="Last Name" >
                    <input type="text" th:field="*{userName}" placeholder="Username">
                    <input type="email" th:field="*{email}" placeholder="Email">
                    <input type="password" th:field="*{password}" placeholder="Password">
                  <button type="submit" name="submit">Register</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>